*{
    margin: 0;
}
.first , .third{
    display: inline-block;
    height: 40vh;
    width: 25vw;
    background-color: rgb(255, 0, 0);
}

.second , .fourth{
     display: inline-block;
    height: 40vh;
    width: 63vw;
    background-color: rgb(255, 0, 0);
}

.second ,.fourth{
    margin-left: 10vw;
}

.third , .fourth{
    margin-top: 20vh;
}