
/* 
h1{
    font-size: 5vw;
}
h1{
    font-weight: 100;
}
h1{
    font-style: italic ;
}

p{
    line-height: 30px;
}

p{
    letter-spacing: 2px;
}

p{
    word-spacing: 20px;
}

h1{
    text-transform: uppercase;
} */
