/* h1{
    background-color: aqua;
    color: orange;
    text-align: center;
} */

/* text align: left,right,center,justify*/
/* .container{
    background-color: aquamarine;
    text-align: center;
}

h1{
    background-color: rgb(181, 118, 239);
}

p{
    background-color: rgb(165, 99, 99);
}

button{
    background-color: aqua;
} */
/* text-align-last */
/* p{
    background-color: chartreuse;
    text-align-last: justify;  
} */

/* h1{
    direction:rtl; jo bhi direction tum doge uss direction me read karega */
    /* unicode-bidi: bidi-override ;
}   */

/* span{
    vertical-align: sub; super;
} */






