.container{
    height: 800px;
    width: 800px;
    background-color: aqua;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* box shadow:h-offset v-offset */
/* .box{
    height: 300px;
    width: 300px;
    background-color:blue;
    margin: 10px;
   /* box-shadow: -5px -10px;  horizontal and vertical*/
    /* box-shadow: -15px -10px red color is added; */
   /* box-shadow: -15px -10px 10px red;  blurr is added */
    /* box-shadow: -15px -10px 10px 20px red; shadow spread is added */
    /* box-shadow: 0px 0px 5px 10px white; sare direction me shadow aa jati hai */


    /* box-shadow: inset 50px 5 0px white; shadow ander ki tarf grow hoti hai 
} */

.box{
    height: 300px;
    width: 300px;
    background-color:blue;
    margin: 10px;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 2s;

}

.box:hover{
   background-color: red;
   width: 500px;
}


